[submodule "mini-car"]
	path = mini-car
	url = https://github.com/jegor377/mini-car.git
[submodule "mini-car-brain"]
	path = mini-car-brain
	url = https://github.com/jegor377/mini-car-brain
[submodule "programmable-vehicle-chasis"]
	path = programmable-vehicle-chasis
	url = https://github.com/jegor377/programmable-vehicle-chasis
[submodule "carControl"]
	path = carControl
	url = https://github.com/Lewissimo/carControl.git
